﻿@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre: @Model.Genre</li>
    <li>Release Date: @Model.ReleaseDate</li>
    <li>Date Added: @Model.AddedDate</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>
