﻿@model Vidly.Models.Customer

@{ 
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Birthday.HasValue)
    {
        <li> Birthdate: @Model.Birthday</li>
    }
</ul>
